html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e9e6e6;
    align-items: center;
    justify-content: center;
}

.head-center,
.head-left,
.head-right {
    display: flex;
    align-items: center;
    padding: 10px;
}

.dropdown-menu-image {
    padding-right: 3px;
}

.like-image,
.busket-image {
    padding-right: 5px;
}

.logo-text {
    text-align: center;
    margin: 0;
}

.search-input {
    width: 400px;
    height: 40px;
    border: none;
    padding: 5px;
}

.select-input {
    width: 150px;
    height: 40px;
    border: none;
    border-left: 1px solid #ccc;
    padding: 5px;
}

.input-wrapper {
    display: flex;
    border: 1px solid #ccc;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 400px;
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 1px solid #9a9898;
    flex-direction: column;
    position: relative;
}

.field-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 40%;
}

.button,
.field {
    margin-top: 5px;
    height: 25px;
    border: 2px solid #f2f2f2;
    position: relative;
}

.field::placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #999;
}

.button {
    background-color: #6fcf97;
    color: white;
}

.login-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #c4c4c4;
    color: white;
    font-weight: bold;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.label-input {
    display: grid;
    grid-template-rows: auto 1fr;
}

.register-input-label {
    color: #ABABAB;
    font-size: small;
    font-weight: bold;
}

.register-input-field {
    width: 305px;
    height: 28px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 2;
    margin-top: 10px;
}

.cancel-button,
.submit-button,
.add-item-cancel-button,
.add-item-submit-button {
    height: 25px;
    width: 149px;
}

.add-item-cancel-button {
    margin-right: 10px;
}

.add-item-submit-button,
.submit-button {
    background-color: #6fcf97;
    color: white;
    border: none;
}

.add-item-cancel-button,
.cancel-button {
    background-color: white;
    color: #959595;
    border: 1px solid #959595;
}

.register-box {
    width: 700px;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
}

.register-text-wrapper {
    display: flex;
    background-color: #bdbdbd;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.register-text {
    font-size: large;
    color: white;
}

.add-item-wrapper {
    display: flex;
    flex-direction: column;
}

.add-item-label {
    padding-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #BDBDBD;
}

.add-item-box {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.add-item-input {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.add-item-left {
    display: flex;
    flex-direction: column;
}

.add-item-right {
    display: flex;
    flex-direction: column;
}

.add-item-buttons {
    display: flex;
    margin-top: 10px;
}

.add-item-input-description {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.description-input {
    flex: 1;
    border: 1px solid #ccc;
}

.add-item-input-description {
    height: 96px;
}

.add-item-input-name {
    flex: 1;
    border: 1px solid #ccc;
}

.add-item-input-name-wrapper {
    display: flex;
    height: 43px;
    flex-direction: column;
    padding-top: 10px;
}

.main-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.category-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 150px;
    height: 100px;
}

.category-image {
    width: 100%;
    height: 100%;
    min-width: 100px;
    object-fit: cover;
    transition: filter 0.3s;
}

.category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.category:hover .category-text {
    opacity: 1;
}

.category:hover .category-image {
    filter: brightness(70%);
}

.coupon-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: flex-start;
    padding: 15px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 80px;
    background-color: #F2F2F2;
}

.coupon {
    background-color: white;
    width: 200px;
    display: inline-block;
    overflow: hidden;
}

.coupon-image {
    width: 200px;
    height: 200px;
}

.coupon-buy-wrapper,
.coupon-desc-wrapper,
.coupon-name-wrapper {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}

.coupon-buy-wrapper {
    border-top: 1px solid #ccc;
}

.coupon-desc {
    font-size: small;
}

.coupon-expire {
    font-size: smaller;
    color: #999;
}

.coupon-name-text {
    font-size: large;
}

.like-image-coupon {
    width: 15px;
}

.main-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 102vh;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.item-page-wrapper {
    flex: 1;
    display: flex;
    background-color: #F2F2F2;
    padding: 30px;
}

.item-detail-left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 70%;
}

.item-detail-right {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
    height: 45%;
}

.item-image {
    width: 100%;
    height: 45%;
}

.coupon-bottom {
    display: flex;
    flex-direction: column;
}

.time-to-buy {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.item-add-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.add-to-cart {
    display: flex;
    align-items: center;
}

.add-to-cart-button {
    color: #4BAFF4;
    background: none;
    border: none;
}

.time-to-buy-text {
    font-size: medium;
    color: #999;
}

.item-detail-text {
    overflow: auto;
    text-align: left;
}

.coupon-top {
    overflow: auto;
}

.checkout-items-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 10px;
}

.checkout-item-image {
    width: 80px;
    height: 80px;
}

.checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.checkout-left {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.item-name {
    margin-top: 3px;
}

.checkout-item-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
}

.checkout-bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20%;
}

.total-wrapper {
    display: flex;
}

.total {
    padding-left: 20px;
}

.scrollToTop{
    display: flex;
    
}

.fixed-button {
    position: fixed;
    top: 0;
    left: 0;
    padding: 3px;

    color: white;
    font-weight: bold;
    z-index: 9999;
}

.footer{
    position: fixed;
    
    right: 50%;
    left: 50%;
    bottom: 20px;
}

.loading-gif{
    width: 50px;
    
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.coupon-image {
  transition: transform 0.2s ease;
  vertical-align: middle;
}

.coupon:hover .coupon-image {
  transform: scale(1.5) translateY(0%);
  transform-origin: center center;
}

.coupon-image-wrapper{
    display: inline-block;
    overflow: hidden;
}

input[type=file]{
    color: transparent;
}

input[type=file]::file-selector-button {
    display: none;
}

