html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

html {
  background-color: #e9e6e6;
}

.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1;
}

a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  padding: 4px 8px;
}

a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
  ;
}

a {
  color: #54b3d6;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.main,
.search-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e9e6e6;
  align-items: center;
  justify-content: center;
  padding: 20vh;

}

.head-center,
.head-left,
.head-right {
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdown-menu-image {
  padding-right: 3px;
}

.like-image,
.busket-image {
  padding-right: 5px;
}

.logo-text {
  text-align: center;
  margin: 0;
}

.search-input {
  width: 400px;
  height: 40px;
  border: none;
  padding: 5px;
}

.select-input {
  width: 150px;
  height: 40px;
  border: none;
  border-left: 1px solid #ccc;
  padding: 5px;
}

.input-wrapper {
  display: flex;
  border: 1px solid #ccc;
}

.sorting-container button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.filter-icon {
  width: 30px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7vh;
}

.sorting-container {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.sorting-data {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 4px;
  z-index: 1;
}

.sorting-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.sorting-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.form-buttons button {
  margin-left: 8px;
  background-color: #0f4db8;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttons button:hover {
  background-color: #083478;
}

.form-buttons button:first-child {
  background-color: #52a946;
}

.form-buttons button:first-child:hover {
  background-color: #1e7d21;
}

.filter-data {
  display: flex;
  flex-direction: column;

}

.filter-tags {
  max-height: 50vh;
  overflow: auto;
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.filter-container {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 12px;
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tag-row a {
  display: inline-block;
  padding: 4px 8px;
  background-color: #0f4db8;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.show-tags-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.show-tags-button .icon {
  color: #0f4db8;
  transition: transform 0.5s ease-in-out;
}

.certificate-tags,
.tag-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.show-tags-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  display: block;
  margin-top: 8px;
}

.show-tags-button:hover {
  background-color: #0056b3;
}

.show-more-tags-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.show-more-tags-button:hover {
  background-color: #0056b3;
}

.filter-data {
  position: absolute;
  top: 100%;
  right: -160px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 4px;
  z-index: 1;
}

.filter-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.filter-form input[type='checkbox'] {
  margin-right: 8px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.form-buttons button {
  margin-left: 8px;
  background-color: #0f4db8;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttons button:hover {
  background-color: #083478;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  bottom: 0;
  z-index: 2;
}

.login-box {
  width: 400px;
  height: 350px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  border: 1px solid #9a9898;
  flex-direction: column;
  position: relative;
}

.button,
button {
  display: inline-block;
  padding: calc((1.5rem - 2px)/2) 1em;
  font-family: inherit;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d5d7dd;
  border-radius: 0.25em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.field.error,
.label-input.error .register-input-field {
  border: 2px solid #ff7f7f;
  background-color: #fef4f4;
}

.login-error-wrapper,
.error-text {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

.login-error-wrapper {
  display: flex;
  justify-content: center;
}

.ReactTags__selected {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.tag-wrapper.ReactTags__tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 5px 10px;
}

.ReactTags__remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ReactTags__tagInput {
  grid-column: 1 / -1;
}

.field-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 40%;
}

.button,
.field {
  margin-top: 5px;
  height: 25px;
  border: 2px solid #f2f2f2;
  position: relative;
}

.field::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}

.button {
  background-color: #6fcf97;
  color: white;
}

.login-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c4c4c4;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.label-input {
  display: grid;
  grid-template-rows: auto 1fr;
}

.register-input-label {
  color: #ABABAB;
  font-size: small;
  font-weight: bold;
}

.register-input-field {
  width: 305px;
  height: 28px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: span 2;
  margin-top: 10px;
}

.cancel-button,
.submit-button,
.add-item-cancel-button,
.add-item-submit-button {
  height: 25px;
  width: 149px;
  padding: 0;
}

.login-button {
  padding: 0;
}

.add-item-cancel-button {
  margin-right: 10px;
}

.add-item-submit-button,
.submit-button {
  background-color: #6fcf97;
  color: white;
  border: none;
}

.add-item-cancel-button,
.cancel-button {
  background-color: white;
  color: #959595;
  border: 1px solid #959595;
}

.register-box {
  width: 700px;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
}

.register-text-wrapper {
  display: flex;
  background-color: #bdbdbd;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

.register-text {
  font-size: large;
  color: white;
}

.add-item-wrapper {
  display: flex;
  flex-direction: column;
}

.add-item-label {
  padding-left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #BDBDBD;
}

.add-item-box {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.add-item-input {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.add-item-left {
  display: flex;
  flex-direction: column;
}

.add-item-right {
  display: flex;
  flex-direction: column;
}

.add-item-buttons {
  display: flex;
  margin-top: 10px;
}

.add-item-input-description {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.description-input {
  flex: 1;
  border: 1px solid #ccc;
}

.add-item-input-description {
  height: 96px;
}

.add-item-input-name {
  flex: 1;
  border: 1px solid #ccc;
}

.add-item-input-name-wrapper {
  display: flex;
  height: 43px;
  flex-direction: column;
  padding-top: 10px;
}

.main-page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #E0E0E0;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 150px;
  height: 100px;
}

.category-image {
  width: 100%;
  height: 100%;
  min-width: 100px;
  object-fit: cover;
  transition: filter 0.3s;
}

.custom-scrollbar-container {
  position: fixed;
  right: 10px;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-scrollbar {
  width: 4px;
  background-color: #ccc;
  border-radius: 2px;
  position: relative;
  height: 80%;
}

.custom-scrollbar-thumb {
  width: 100%;
  background-color: #007bff;
  border-radius: 2px;
}

.category-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.category:hover .category-text {
  opacity: 1;
}

.category:hover .category-image {
  filter: brightness(70%);
}

.coupon-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: flex-start;
  background-color: transparent;
}

.coupon {
  background-color: white;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.coupon-image {
  width: 200px;
  height: 200px;
}

.coupon-buy-wrapper,
.coupon-desc-wrapper,
.coupon-name-wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 5px;
  box-sizing: border-box;
}

.coupon-tags-wrapper {
  display: grid;
  align-items: center;
  grid-auto-flow: dense;
}


.tags-popup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.add-certificate-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.coupon-buy-wrapper {
  border-top: 1px solid #ccc;
  margin-top: auto;
}

.coupon-desc {
  font-size: small;
}

.coupon-expire {
  font-size: smaller;
  color: #999;
}

.coupon-name-text {
  font-size: large;
}

.like-image-coupon {
  width: 15px;
}

.main-page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 102vh;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.item-page-wrapper {
  flex: 1;
  display: flex;
  height: 50vh;
  background-color: #F2F2F2;
  padding: 30px;
  padding-top: 25vh;
}

.item-detail-left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 70%;
}

.item-detail-right {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
  height: 100%;
}

.item-image {
  width: 45%;
  height: 45%;
}

.coupon-bottom {
  display: flex;
  flex-direction: column;
}

.coupon-category {
  padding-left: 5px;
}

.time-to-buy {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.item-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.add-to-cart {
  display: flex;
  align-items: center;
}

.add-to-cart-button {
  color: #4BAFF4;
  background: none;
  border: none;
}

.time-to-buy-text {
  font-size: medium;
  color: #999;
}

.item-detail-text {
  overflow: auto;
  text-align: left;
}

.item-tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.checkout-items-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: 1.5px solid #ccc;
  padding-bottom: 10px;
}

.checkout-item-image {
  width: 80px;
  height: 80px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.checkout-left {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.item-name {
  margin-top: 3px;
}

.checkout-item-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
}

.checkout-bottom {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 20%;
}

.total-wrapper {
  display: flex;
}

.total {
  padding-left: 20px;
}

.scrollToTop {
  display: flex;
}

.fixed-button {
  position: fixed;
  top: 0;
  left: 0;
  padding: 3px;
  color: white;
  font-weight: bold;
  z-index: 9999;
}

.footer {
  position: fixed;

  bottom: 0px;
  width: 100%;
  height: 10vh;
}

.filter-input {
  border: none;
  border-bottom: 2px solid;
  border-color: #0f4db8;
  padding: 5px;
  margin-bottom: 5px;
}

.filter-input:focus {
  outline: none;
}

.load-more {
  padding-top: 30px;
}


.loading-gif {
  width: 50px;

}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.coupon-image {
  transition: transform 0.2s ease;
  vertical-align: middle;
}

.coupon:hover .coupon-image {
  transform: scale(1.5) translateY(0%);
  transform-origin: center center;
}

.coupon-image-wrapper {
  display: inline-block;
  overflow: hidden;
}

input[type=file] {
  color: transparent;
}

input[type=file]::file-selector-button {
  display: none;
}

.price-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.index-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.error-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu-image {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dropdown-menu-image.active {
  filter: invert(50%);
}

.dropdown-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 150px;
  z-index: 1;
}


.error-wrapper {
  position: fixed;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  background-color: #ffcccc;
  width: 900px;
  height: 80px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #d9534f;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-buttons {
  padding-top: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.add-certificate-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.add-certificate-wrapper h2 {
  margin-bottom: 10px;
}

.description-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

.description-field textarea {
  display: block;
  width: 100%;
  height: 80px;
  font-size: 16px;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  vertical-align: top;
  height: 100px; /* Adjust the height as needed */
  caret-color: initial; /* Ensure caret (cursor) color is the default */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

.descripion-table{
  display: flex;
  width: 200px;
  overflow: hidden;
}

.description {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top;
}

.ReactTags__tagInputField,
.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
