html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e9e6e6;
    align-items: center;
    justify-content: center;
  }
  
  .head-center,
  .head-left,
  .head-right {
    display: flex;
    align-items: center; 
    padding: 10px;
  }
  
  .dropdown-menu-image {
    padding-right: 3px;
  }
  
  .like-image, 
  .busket-image {
    padding-right: 5px;
  }
  
  .logo-text {
    text-align: center;
    margin: 0; 
  }
  
  .search-input {
    width: 400px;
    height: 40px;
    border: none;
    padding: 5px;
  }
  
  .select-input {
    width: 150px;
    height: 40px;
    border:none;
    border-left: 1px solid #ccc;
    padding: 5px;
  }
  
  .input-wrapper {
    display: flex;
    border: 1px solid #ccc;
  }

  .login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box{
    width: 400px;
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 1px solid #9a9898;
    flex-direction: column;
    position: relative;
  }

  .field-input-wrapper{
    display: flex;
    flex-direction: column;
    width:70%;
    padding-top: 40%;
  }
  
  .button,
  .field{
    margin-top: 5px;
    height: 25px;
    border: 2px solid #F2F2F2;
    position: relative;
}

.field::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}

.button{
    background-color: #6FCF97;
    color: white;
}

.login-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #C4C4C4;
    color: white;
    font-weight: bold;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }

  